<br/>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Use Blocipedia to create public and private Markdown-based wikis.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> 
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>User friendly</h2>
    <p>Manage your wikis with ease.</p>
  </div>
  <div class="col-md-4"> 

    <h2><%= link_to  "UPGRADE TO PREMIUM", new_charge_path, class: 'btn btn-primary btn' %></h2>
    <p>Create private wikis and add collaborators.</p><p>$12.99 for an annual subscription.</p>

  </div>
  <div class="col-md-4">
    <h2>No Ads</h2>
    <p>Blocipedia promises an ad free environment!</p>
  </div>
</div>